.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ellipse2 {
    position: absolute;
    width: 846px;
    height: 846px;
    left: 474px;
    top: -131.25px;

    background: #000aff;
    opacity: 0.2;
    filter: blur(200px);
    transform: rotate(30deg);
}
.ellipse3 {
    position: absolute;
    width: 846px;
    height: 846px;
    left: 1401.66px;
    top: -46px;

    background: #00d1ff;
    opacity: 0.2;
    filter: blur(200px);
    transform: rotate(30deg);
}
.ellipse1 {
    position: absolute;
    width: 846px;
    height: 846px;
    left: 1003.29px;
    top: -388px;

    background: #ff00f5;
    opacity: 0.25;
    filter: blur(200px);
    transform: rotate(30deg);
}

.hero h1 {
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 0;
    margin-bottom: 20px;
    letter-spacing: -3px;
    font-weight: 500;
    opacity: 0.95;

    display: flex;
    gap: 15px;
}
.hero p {
    font-size: 18px;
    font-weight: 200;
    opacity: 0.7;
    max-width: 450px;
    line-height: 30px;
}
.insideHero {
    margin-top: -120px;
    width: 100%;
    max-width: 800px;
}
.insideHero * {
    max-width: 1200px;
    text-align: left;
}
.topTitle {
    font-size: 18px;
    font-weight: 200;
    opacity: 0.7;
    margin-bottom: 20px;
}
