.info {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    gap: 70px;
    padding-top: 50px;
}
.cover {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: calc(1200px - 80px);
    border-radius: 15px;
}
.coverContainer {
    margin-top: 100px;
}
.info h2 {
    font-size: 34px;
    font-weight: 300;
}
.description {
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
    margin-top: 20px;
}
.left {
    max-width: 300px;
}
.tasks {
    list-style-type: circle;
}
.tasks li {
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 15px;
}
.tasks li:first-child {
    margin-top: 0;
}
.tasks li:last-child {
    margin-bottom: 0;
}
.left h2 {
    margin-bottom: 10px;
}
.jobTitle {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
}
.date {
    font-size: 14px;
    font-weight: 200;
    opacity: 0.8;
}
